#photoContainer {
  width: 100%;
  position: relative;
}

#photoContainer {
  transition: transform 0.3s ease;
}

#photoContainer:hover {
  transform: scale(1.03);
}

img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

#photoContainer > button {
  position: absolute;
  bottom: 20px;
  right: 10px;
  border: none;
  padding: 3px 4px;
  transition: scale 0.3 ease;
  border-radius: 3px;
  background: rgba(211, 211, 211, 0.322);
  transition: transform 0.3s ease;
}

#photoContainer > button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background: rgba(211, 211, 211);
}

button > img {
  height: 15px;
  border-radius: 0;
}

@media only screen and (max-width: 600px) {
  #photoContainer > button {
    padding: 6px 10px;
    bottom: 30px;
    right: 20px;
  }

  img {
    border-radius: 0;
  }
}
